footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer small{
    position: relative;
    top: 30px;
    font-size: 1rem;
}