body { 
    background-color: #F9F9F9;
}

.container{
    margin-top: 5%;
}

.card-header {
    padding: 5px 15px;
}

.profile-img img {
    width: 180;
    height: 180px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#loginEmail{
    margin: 0 5px;
}

#loginPassword{
    margin: 0 5px;
}

.father{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.alert{
    position: relative;
    top: 15px;
}

